.terminal h1 {
	font-size: 20px;
	color: #FFA500;
}
.terminal h2 {
	font-size: 18px;
	color: #1A95E0;
}
.terminal h3 {
	font-size: 15px;
	color: #2EB82E;
}
img {
	display: block;
	margin: 0 auto;
	width: 75%;
}
.terminal blockquote {
	content: '';
	font-size: 15px;
	padding-left: 10px;
	border-left: 3px solid #CCC;
}
blockquote::after {
	content: "";
}
.terminal code {
	font-size: 13px;
	font-family: monospace;
}
